{% extends 'layout/base-presentation.html' %}

{% block title %} Create Cook {% endblock title %}

{% block body_class %} create-cook-page {% endblock body_class %}

{% block content %}
  <section class="pt-3 pb-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mx-auto" id="specificElement">
          <h1 class="text-center">Create a New Cook</h1>
          <form method="post" style="margin-left: 5cm;">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary mt-3">Add Cook</button>
          </form>

          {% if message %}
            <p class="text-success mt-3">{{ message }}</p>
          {% endif %}

          <div style="margin-left: 5cm;">
            <a href="{% url 'home' %}" class="btn btn-secondary mt-3">Back to Home</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
