{% extends 'layout/base-presentation.html' %}

{% block title %} Add Dish Type {% endblock title %}

{% block body_class %} add-dish-type-page {% endblock body_class %}

{% block content %}

  <section class="pt-3 pb-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto" id="specificElement">
          <h1>Add a New Dish Type</h1>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary mt-3">Add Dish Type</button>
          </form>

          {% if message %}
          <p class="text-success mt-3">{{ message }}</p>
          {% endif %}

          <a href="{% url 'home' %}" class="btn btn-secondary mt-3">Back to Home</a>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
